@keyframes card-leave {
	to{
		transform: translateY(50px);
		opacity: 0;
	}
}
@keyframes falldown {
	35%{
		transform: rotate(12deg);
	}
	100%{
		transform: translateY(120vh) translateX(16vw) rotate(12deg);
	}
}
@keyframes goRight {
	to{
		transform: translateX(100vw);
	}
}
@keyframes scaleUp {
	to{
		transform: scale(5);
	}
}
@keyframes openUpRight {
	to{
      transform: translateX(100vw);
	}
}
@keyframes openUpLeft {
	to{
	  transform: translateX(-200vw);
	}
}